* {
    margin: 0px;
    padding: 0px;
}

.card {
    margin: 0px auto;
    width: 950px;
    height: 450px;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}